<!DOCTYPE html>
<html>
<head>
  <title>Casanova</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<header>
<% if current_user %>
  <%= link_to "Logout", logout_path %>
<% else %>
  <%= link_to "Sign up", signup_path %>
  <%= form_for @user, :html => { :id => "login" }, :url => login_path do |f| %>
    <%= f.text_field :username, :placeholder => "Username"%>
    <%= f.text_field :password, :placeholder => "Password"%>
    <%= f.submit value="Login"%>
  <% end %>
<% end %>

</header>
<body>


<%= yield %>

</body>
</html>
